html, body{/* edit */
    background-color: hsl(0, 0%, 95%);
}

a {
    text-decoration: none;
    color: white;
    padding: 8px;
}
.div_sedans a {
    color: hsl(31, 77%, 52%);
}
.div_suvs a{
    color: hsl(184, 100%, 22%);
}
.div_luxury a{
    color: hsl(179, 100%, 13%);
}
button {
    background-color: white;
    border: 2px solid white ;
    color: none;       /* will be changed by casse*/
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block; align-content: bottom;
    margin: 0;
    border-radius: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.mainBox{
    display: flex;

    width: 70vw; max-width: 960px;
    height: auto;
    margin: 60px;
    margin-left: auto;
    margin-right: auto;

    /* Text style */
    text-align: left;
    font-weight: 400;
    color: white;
}
.mainBox p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 25px;
    margin-bottom: 75px;    }
h2 {
    font-weight: 700; font-size: 20px;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;  }
.div_sedans {       /* column 01 */
    width: 33%;
    height: auto;
    padding: 5%;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.div_sedans button{     /* button when not interacted with*/
    background-color: white; 
    color: hsl(31, 77%, 52%); 
    border: 2px solid white;    }
.div_sedans button:hover{      /* button when hovered over*/
    background-color: hsl(31, 77%, 52%);
}
.div_sedans a:hover {
    color: white;
}

.div_suvs{          /* column 02 */
    width: 33%;
    height: auto;
    padding: 5%;
    background-color: hsl(184, 100%, 22%);  }
.div_suvs button{     /* button when not interacted with*/
    background-color: white; 
    color: hsl(184, 100%, 22%); 
    border: 2px solid white;
}
.div_suvs button:hover{      /* button when hovered over*/
    background-color: hsl(184, 100%, 22%);
}
.div_suvs a:hover{
    color: white;
}
.div_luxury {       /* column 03 */
    width: 33%;
    height: auto;
    padding: 5%;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.div_luxury button{     /* button when not interacted with*/
    background-color: white; 
    color: hsl(179, 100%, 13%); 
    border: 2px solid white;    }
.div_luxury button:hover{      /* button when hovered over*/
    background-color: hsl(179, 100%, 13%);
}
.div_luxury a:hover {
    color: white;
}

/* phone version */

@media screen and (max-width:920px)
{
    .mainBox
    {
        width: 80vw;
        display: flex;
        flex-direction: column;
    }
    .mainBox div
    {
        width: auto;
        height: auto;
        padding: 25px;
    }
    .div_sedans {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .div_suvs {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .div_luxury {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
